/*Parte das camadas*/

html, body
{
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
	margin: 0;
	font-size: calc(1em + 1vw);	
	font-family: "Fonte","Tahoma";
}

body
{
	background-image: url("../imgs/novafolha.png");
    background-size: cover;
}

h2{
	margin: 0;
}

#btn-mute
{
	position:absolute;
	left: 49px;
	top: 32px;
	width:24px;
	height:24px;
	cursor: pointer;
}

#palco
{
    display: flex;
	align-items: center;
	justify-content: center;
}

#camadaOpcoes{
	text-align: center;
	background: url("../imgs/novafolha.png");
	background-size: cover;
}

#divOpcoes{
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

#camadaAudio{
	
}

#camadaControleAudio{
	
}

#divAudio{
	height: calc(var(--vh, 1vh) * 100);
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

#divControle{
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
	display: grid;
	grid-template-rows: repeat(3,1fr);
	text-align: center;
}


/*-----------------Deixa slider transparente em todos browsers para aplicar estilo----------------------*/
input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 80vw; /* Specific width is required for Firefox. */
	height: 65vh;
	background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
  }
  
  input[type=range]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
  
	/* Hides the slider so custom styles can be added */
	background: transparent; 
	border-color: transparent;
	color: transparent;
  }


  /*-----------Estilo da thumb--------------*/
  input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 80px;
	width: 24px;
	border-radius: 3px;
	margin-top: -24px;
	background: #ffffff;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 80px;
	width: 24px;
	border-radius: 3px;
	background: #ffffff;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 80px;
	width: 24px;
	border-radius: 3px;
	background: #ffffff;
  }


  /*-----------Estilo da track--------------*/
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 35px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #367ebd;
  }
  
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 35px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
  }
  
  input[type=range]::-ms-track {
	width: 100%;
	height: 35px;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
  }
  input[type=range]::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
	background: #3071a9;
  }
  input[type=range]::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
	background: #367ebd;
  }



#camadaVitoria
{
	text-align: center;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#camadaFimdeJogo
{
	text-align: center;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center
}

#camadaDerrota{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
	justify-content: space-between;
}

#camadaMenu
{
	height: calc(var(--vh, 1vh) * 100);
	display: grid;
	grid-template-columns: repeat(1, 1fr);
  	grid-template-rows: repeat(2, 1fr);
	width: 100vw;	
	text-align: center;
}

#camadaMenu:focus{
	outline: none;
}

#camadaAtalhos{
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
	text-align: center;
}

#camadaAtalhos:focus{
	outline: none;
}

#imgMenu
{
	height: auto;
	width: 100%;
}

#imgLogo
{
	display: none;
}

#camadaInstrucoes{
	text-align: center;
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
}

#imgLogoVit
{
	background-image: url("../imgs/logovitoria.png");
	height: 139px;
	width: 180px;
	float: left;
	margin-top: 1.3rem;
}

#palavraCertaNaTela
{
	text-align: center;
}

#camadaJogo
{
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
	display: grid;
	flex-direction: column;
	justify-content: space-between;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

#topJogo{
	width: 100vw;
}

#btnVoltar2{
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 15vw;
	background: #e7e7e7;
	margin: 0 auto;
	box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1em + 1vw);	
	font-family: "Fonte","Tahoma";
}

#conteudoInst, #conteudo{
	padding-top: 15vw;
	padding-bottom: 15vw;
}

#pontosTela{
	float: right;
	margin: .5em;
	font-size: calc(16px + 1vw);	
}


#camadaCreditos
{
	text-align: center;
	display: grid;
	flex-direction: column;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
}

#linhaNomesLeft, #linhaNomesRight{
	width: 100%;
	text-align: center;
	float: unset;
}

/*Parte das coisas escritas na tela*/
#palavraNaTela
{
	width: 100%;
	text-align: center;
	margin: 0;
	
}

#dicaNaTela
{
	text-align: center;
	font-size: calc(1em + 1vw);	
}

#contribuicaoNaTela
{	
	font-size: 15px;
	
}

#pontosNaTela
{
	text-align: right;
}

#instrucoesText{
	/*padding: 15vw 1em;*/
	padding: 0 1em;
	padding-bottom: 15vw;
}

/*Parte dos botoes no jogo*/

#btnOuvir, #btnVoltar2, #btnSairInstrucoes{
	position: fixed;
	left: 0;
	width: 100vw;
	height: 15vw;
	background: #e7e7e7;
	margin: 0 auto;
	border-right-width: 0;
	font-size: calc(1em + 1vw);	
	font-family: "Fonte","Tahoma";
}

#btnOuvir{
	top: 0;
	box-shadow: 0px 2px 5px 0px #504e4a;
}

#btnVoltar2, #btnSairInstrucoes{
	bottom: 0;
	box-shadow: 0px -2px 5px 0px #504e4a;
	border-bottom-width: 0;
}

#botoes
{
	width: 100%;
	justify-content: center;
	display: grid;

}

#btnGrupo{
	width: 100%;
	box-shadow: 0 2px 7px 0px rgba(29, 29, 29, 0.64);
}

#btnGrupo > *{
	width: 50%;
	height: 15vw;
	background: #e7e7e7;
	text-align: center;
	font-size: calc(0.8em + 1vw);
	font-family: "Fonte","Tahoma";
	border: 0;
}

#btnMenu{
	border-right-width: 1px;
	border-right-style: double;
}



#btnVoltarAudio{
	width: 100vw;
	background: #e7e7e7;
	margin: 0 auto;
	box-shadow: inset 0px -1px #504e4a;
	font-size: 6.5vw;
	font-family: "Fonte","Tahoma";
	line-height: 18vw
}

.botaoJogo
{
	display: inline;
	width: 9vw;
	height: 14vw;
	margin: 1px;
	float: left;
	background-image: url(../imgsMobile/botaoTeclado.png);
	background-size: cover;
	cursor: pointer;	
}

.botaoJogoPressionado
{
	display: inline;
	width: 9vw;
	height: 14vw;
	margin: 1px;
	float: left;
	background-image: url(../imgsMobile/botaoTecladoPressionado.png);
	background-size: cover;
	cursor: pointer;		
}

.linha
{
	text-align: center;
}

#linha2
{
	margin-left: 0.8rem;
	margin-top: 0.35rem;
}

#linha3
{
	margin-left: 2.2rem;
	margin-top: 0.35rem;
}

.letraTeclado
{
	margin: 0;
	line-height: 15vw;
}

/*Parte das fontes*/
@font-face
 {
    font-family: "Fonte";
    src: url(../fonte/Teclado.ttf) format("truetype");
}

h1
{
	font-family:"Fonte","Tahoma";
	text-align: center
}

h3
{
	font-family:"Fonte","Tahoma";
	text-align: center
}

p
{ 
    font-family:"Fonte","Tahoma";
}

/*Parte dos botoes fora do jogo*/
.botao
{
	display: inline-block;
}

#caixaBotoes
{
    display: grid;
	width: 100vw;
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(4,1fr);
}

#caixaBotoes > * {
    width: 100vw;
    background: #e7e7e7;
    margin: 0 auto;
    box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1.5em + 1vw);
	font-family: "Fonte","Tahoma";
}

#caixaBarrasAudio{
	display: grid;
	width: 100vw;
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(4,1fr);
}

#caixaBarrasAudio > *{
	width: 100vw;
	/*height: 18vw;*/
    background: #e7e7e7;
    margin: 0 auto;
    box-shadow: inset 0px -1px #504e4a;
	font-size: 6.5vw;
	font-family: "Fonte","Tahoma";
	line-height: 18vw;
}

#caixaBotoesOpcao{
	grid-row: 3/3;
	display: grid;
	/*grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(4, 1fr);*/
	grid-auto-rows: 25vw;
}

#caixaBotoesOpcao > *{
	width: 100vw;
	/*height: 18vw;*/
    background: #e7e7e7;
    margin: 0 auto;
    box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1.5em + 1vw);
	font-family: "Fonte","Tahoma";
}

#btnInstrucoes{
	grid-row: 1;
}

#btnJogar{
	grid-row: 2;
}

#btnCreditos{
	grid-row: 3;
}

#btnAudio{
	grid-row: 4;
}

#caixaBotoesAtalhos{
	display: grid;
	grid-row: 3/4;
	grid-auto-rows: 20vw;
}

#caixaBotoesAtalhos > * {
    width: 100vw;
    background: #e7e7e7;
    margin: 0 auto;
    box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1em + 1vw);
	font-family: "Fonte","Tahoma";
}

#MusicaFundo{
	grid-row: 1;
}

#Efeitos::before{
	grid-row: 2;
}

#LeituraTela::before{
	grid-row: 3;
}

#btnOpcoes
{
    width: 100%;
    height: 75px;
    background: black;
}

#btnOpcoes:hover, #btnOpcoes:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnRanking
{
	width: 117px;
	height: 65px;
	background-image: url("../imgs/btnRanking.png")
}

#btnVoltar
{
	width: 115px;
	height: 65px;
	margin-top: 1rem;
	margin-left: 1rem;
	background-image:url("../imgs/btnVoltar.png");
}

#botoesFimDeJogo
{
	display: grid;
	width: 100vw;
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(2,1fr);
}

#botoesFimDeJogo > *{
	width: 100vw;
	height: 18vw;
    background: #e7e7e7;
    margin: 0 auto;
    box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1.5em + 1vw);
	font-family: "Fonte","Tahoma";
}


#botoesTelaVitoria{
	display: grid;
	width: 100vw;
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(2,1fr);
}

#botoesTelaVitoria > *{
	width: 100vw;
	height: 18vw;
	background: #e7e7e7;
	margin: 0 auto;
	box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1.5em + 1vw);
	font-family: "Fonte","Tahoma";
}

#btnReiniciar::before
{
	content: "Reiniciar"
}

#btnMenu2
{
	margin: 1rem;
	width: 116px;
	height: 65px;
	border: none;
	background-image: url("../imgs/btnVoltar2.png");
}

#btnMenu2:hover, #btnMenu2:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnMenu3::before
{
	content: "Sair"
}

#btnMenu3{
	width: 100vw;
	height: 18vw;
	background: #e7e7e7;
	margin: 0 auto;
	box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1.5em + 1vw);
	font-family: "Fonte","Tahoma";
}

#btnProxPalavra::before
{
	content: "Continuar";
}

/*Parte do personagem do jogo*/
.personagem
{
	width: 317px;
	height: 312px;
	background: url(../imgs/personagem.png);
	background-position: 0px 0px;
}

#personagem
{
	margin: 0 auto;
}

#personagemAnt
{
	z-index: 10;
	display: none;
}

/*--------parte animação boneco---------*/

#bonecoForca
{	
	width: 100vw;
	height: 100vh;
	display: none;
	align-items: center;
	
}

#imgBoneco{
	width: 100%;
	height: auto;
}

#imgBonecoDerrota
{
	width: 55%;
	height: auto;
}

#imgBonecoVitoria
{
	width: 80%;
	height: auto;
	margin: 1em;
}

#palavraCerta
{
	position: absolute;
	top: 55%;
	left: 60%;
	width: 50px;
	height: 50px;
	background: url(../imgs/palavraCerta.png);
}

.hidden-for-sighted-users
{
    position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}



#ColRightJogo
{
	width: 100%;
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#boxVidas
{
	margin-top: 1.3rem;
	justify-content: center;
	flex-direction: row;
	display: flex;
}

#vidas
{
	background-image: url("../imgsMobile/vida.png");
	width: 13vw;
	height: 11.6vw;
	float: left;
	background-size: cover;
	margin: 0.1rem;
}