/*Parte das camadas*/

html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
	font-size: calc(1em + 1vw);	
	font-family: "Fonte","Tahoma";
}

body
{
	background-image: url("../imgs/novafolha.png");
    background-size: cover;
}

#btn-mute
{
	position:absolute;
	left: 49px;
	top: 32px;
	width:24px;
	height:24px;
	cursor: pointer;
}

#palco
{
	min-height: 100%;
	height: 100%;
    width: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
}

#camadaOpcoes{
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	background: url("../imgs/novafolha.png");
	background-size: cover;
}

#camadaAudio{
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	background-size: cover;
}

#camadaControleAudio{
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	background-size: cover;
}

#divAudio{
	/*width: 430px;
	height: 530px;*/
	width: 100%;
	height: 100%;
	/*background: #c2ecfc;
	background: -moz-linear-gradient(top, #c2ecfc 0%, #92dcf9 100%);
	background: -webkit-linear-gradient(top, #c2ecfc 0%,#92dcf9 100%);
	background: linear-gradient(to bottom, #c2ecfc 0%,#92dcf9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2ecfc', endColorstr='#6fc3ed',GradientType=0 );*/
	background: url("../imgs/novafolha.png");
	position: relative;
	-webkit-border-bottom-left-radius: 3rem 15rem;
	-webkit-border-bottom-right-radius: 7rem 3rem;
}

#divControle{
	width: 100%;
	height: 100%;
	background: url("../imgs/novafolha.png");
	position: relative;
	-webkit-border-bottom-left-radius: 3rem 15rem;
	-webkit-border-bottom-right-radius: 7rem 3rem;
}

/*#divAudio::before, #divAudio::after{
	content: '';
    z-index: -1;
    position: absolute;
    bottom: 23px;
    left: 26px;
    width: 30%;
    top: 85%;
    max-width: 300px;
    background: #777;
    box-shadow: 0px 27px 30px #777;
    transform: rotate(-9deg);
}*/

#divAudio::after{
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	-o-transform: rotate(8deg);
	-ms-transform: rotate(8deg);
	transform: rotate(-5deg);
	right: 10px;
	left: auto;
}

.slider {
	-webkit-appearance: none;
	width: 80%;
	/*FAZER UM TAMANHO RESPONSIVAMENTE GRANDE --------------------------------------------------------------------------------------------------------------- */
	height: 15px;
	border-radius: 5px;
	background: #ffffff;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 0 auto;
	border: solid;
	border-width: 2px;
}

.slider::-webkit-slider-thumb {
	border-width: 20px;
	border-color: #101010;
	width: 40px;
	height: 40px;
	background: #fff;
	cursor: pointer;
}
  
.slider::-moz-range-thumb {
	border-width: 15px;
	border-color: #101010;
	width: 40px;
	height: 40px;
	background: #fff;
	cursor: pointer;
}

.slider:focus::-webkit-slider-thumb{
	background: #101010;
}

.slider:focus::-moz-range-thumb{
	background: #101010;
}

.slider::-moz-range-progress{
	background-color: #101010;
	height: 40px;
}

.slider::-webkit-progress-bar{
	background-color: #101010;
	height: 15px;
}

#camadaVitoria
{
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#camadaFimdeJogo
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#camadaDerrota{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

#camadaMenu
{
	display: flex;
	flex-direction: column;
	width: 100%;	
	height: 100%;
	text-align: center;
}

#camadaMenu:focus{
	outline: none;
}

#camadaAtalhos{
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
}

#camadaAtalhos:focus{
	outline: none;
}

#imgMenu
{
	height: auto;
	width: 100%;
}

#imgLogo
{
	display: none;
}

#camadaInstrucoes{
	text-align: center;
	padding: 1em;
	height: 100%;
	width: 100%;
}

#imgLogoVit
{
	background-image: url("../imgs/logovitoria.png");
	height: 139px;
	width: 180px;
	float: left;
	margin-top: 1.3rem;
}

#palavraCertaNaTela
{
	text-align: center;
}

#camadaJogo
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#topJogo{
	width: 100%;
}

#pontosTela{
	float: right;
	margin: .5em;
	font-size: calc(16px + 1vw);	
}


#camadaCreditos
{
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#linhaNomesLeft{
	width: 250px; 
	float: left;  
	text-align: right;
}

#linhaNomesRight{
	width: 250px;
	float: right; 
	text-align: left;
}

/*Parte das coisas escritas na tela*/
#palavraNaTela
{
	width: 100%;
	text-align: center;
	margin: 0;
	
}

#dicaNaTela
{
	text-align: center;
	font-size: calc(1em + 1vw);	
}

#contribuicaoNaTela
{	
	font-size: 15px;
	
}

#pontosNaTela
{
	text-align: right;
}

/*Parte dos botoes no jogo*/
#botoes
{
	width: 100%;
	justify-content: center;
	display: grid;

}

.botaoJogo
{
	display: inline;
	width: 9.3vw;
	height: 9.3vw;
	margin: 1px;
	float: left;
	background-image: url(../imgs/botaoTeclado.png);
	background-size: cover;
	cursor: pointer;	
}

.botaoJogoPressionado
{
	display: inline;
	width: 9.3vw;
	height: 9.3vw;
	margin: 1px;
	float: left;
	background-image: url(../imgs/botaoTecladoPressionado.png);
	background-size: cover;
	cursor: pointer;	
}

/*.botaoJogo:hover
{
	transform: scale(1.1);
}*/

.linha
{
	text-align: center;
}

#linha2
{
	margin-left: 0.8rem;
	margin-top: 0.35rem;
}

#linha3
{
	margin-left: 2.2rem;
	margin-top: 0.35rem;
}

.letraTeclado
{
	margin: 0;
	line-height: 9vw;
}

/*Parte das fontes*/
@font-face
 {
    font-family: "Fonte";
    src: url(../fonte/Teclado.ttf) format("truetype");
}

h1
{
	font-family:"Fonte","Tahoma";
	font-size: 50px;
	text-align: center
}

h3
{
	font-family:"Fonte","Tahoma";
	text-align: center
}

p
{ 
    font-family:"Fonte","Tahoma";
}

/*Parte dos botoes fora do jogo*/
.botao
{
	display: inline-block;
}

#caixaBotoes
{
    display: flow-root;
	width: 100%;
}

#caixaBotoes > * {
    width: 99vw;
    height: 20vw;
    background: #d7d7d7;
	/*margin: .1em auto;*/
	margin: 0 auto;
    border: 2px solid;
	line-height: 20vw;
	font-size: calc(1.5em + 1vw);
}

#caixaBarrasAudio{
	/*margin-top: 4rem;*/
}

#caixaBarrasAudio > *{
	width: 99vw;
    height: 20vw;
    background: #d7d7d7;
	/*margin: .1em auto;*/
	margin: 0 auto;
    border: 2px solid;
	line-height: 20vw;
	/*font-size: calc(1.5em + 1vw);*/
	font-size: 6.5vw;
}

#caixaBotoesOpcao{
	/*margin-top: 4rem;*/
}

#caixaBotoesOpcao > *{
	width: 99vw;
	height: 20vw;
	background: #d7d7d7;
	/*margin: .05em auto;*/
	margin: 0 auto;
    border: 2px solid;
	line-height: 20vw;
	font-size: calc(1.5em + 1vw);
}

#opcaoContinuar::before{
	content: 'Continuar';
}

#opcaoAudio::before{
	content: 'Áudio';
}

#opcaoMenu::before{
	content: 'Menu';
}

#btnJogar::before{
    content: 'Jogar';
}
#btnInstrucoes::before{
    content: 'Instruções';
}
#btnCreditos::before{
    content: 'Créditos';
}

#btnAudio::before{
    content: 'Áudio';
}

#btnVoltar2::before{
	content: 'Voltar';
}

#caixaBotoesAtalhos{
	margin-top: 4rem;
}

#caixaBotoesAtalhos > * {
    width: 99vw;
    height: 20vw;
    background: #d7d7d7;
	margin: .05em auto;
    border: 2px solid;
	line-height: 20vw;
	font-size: calc(7.2vw);
}


#btnAtalho1::before{
	content: 'Dica';
}

#btnAtalho2::before{
	content: 'Como está a palavra';
}

#btnAtalho3::before{
	content: 'Número de vidas';
}

#btnAtalho4::before{
	content: 'Letras que você já escolheu';
}

#btnAtalho5::before{
	content: 'Número de pontos';
}

#MusicaFundo::before{
	content: 'Música de Fundo';
}

#Efeitos::before{
	content: 'Efeitos';
}

#LeituraTela::before{
	content: 'Leitura de tela e acessibilidade'
}

#btnOpcoes
{
    width: 100%;
    height: 75px;
    background: black;
}

#btnOpcoes:hover, #btnOpcoes:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnRanking
{
	width: 117px;
	height: 65px;
	background-image: url("../imgs/btnRanking.png")
}

#btnVoltar
{
	width: 115px;
	height: 65px;
	margin-top: 1rem;
	margin-left: 1rem;
	background-image:url("../imgs/btnVoltar.png");
}

#botoesFimDeJogo
{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

#botoesFimDeJogo > *{
	width: 99vw;
	height: 20vw;
	background: #d7d7d7;
	margin: .1em auto;
	border: 2px solid;
	line-height: 20vw;
	font-family: "Fonte","Tahoma";
	font-size: calc(1.5em + 1vw);
}

#botoesTelaVitoria > *{
	width: 99vw;
	height: 20vw;
	background: #d7d7d7;
	margin: .1em auto;
	border: 2px solid;
	line-height: 20vw;
	font-family: "Fonte","Tahoma";
	font-size: calc(1.5em + 1vw);
}

#btnReiniciar::before
{
	content: "Reiniciar"
}

#btnMenu
{
	margin: .1em;
	width: 45%;
	height: 15vw;
	background: #d7d7d7;
	line-height: 15vw;
	text-align: center;
	border: 2px solid;
	float: left;
}

#btnMenu::before{
	content: 'Opções';
}

/*#btnMenu:hover, #btnMenu:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}*/

#btnAtalhos
{
	margin: .1em;
	width: 45%;
	height: 15vw;
	background: #d7d7d7;
	border: 2px solid;
	line-height: 15vw;
	text-align: center;
	float: right;
}

#btnAtalhos::before{
	content: 'Atalhos';
}

#btnMenu2
{
	margin: 1rem;
	width: 116px;
	height: 65px;
	border: none;
	background-image: url("../imgs/btnVoltar2.png");
}

#btnMenu2:hover, #btnMenu2:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnMenu3::before
{
	content: "Sair"
}


#btnProxPalavra::before
{
	content: "Continuar";
}

/*Parte do personagem do jogo*/
.personagem
{
	width: 317px;
	height: 312px;
	background: url(../imgs/personagem.png);
	background-position: 0px 0px;
}

#personagem
{
	margin: 0 auto;
}

#personagemAnt
{
	z-index: 10;
	display: none;
}

/*--------parte animação boneco---------*/

#ColLeftJogo
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("../imgs/novafolha.png");
    background-size: cover;
	display: none;
}

#imgBonecoDerrota
{
	width: 55%;
	height: auto;
}

#imgBonecoVitoria
{
	width: 75%;
	height: auto;
	margin: 1em;
}

#palavraCerta
{
	position: absolute;
	top: 55%;
	left: 60%;
	width: 50px;
	height: 50px;
	background: url(../imgs/palavraCerta.png);
}

.hidden-for-sighted-users
{
    position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}



#ColRightJogo
{
	width: 100%;
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.clearfix::before, .clearfix::after{
	display: table;
	content: '';
	clear: both;
}

.botaoOpcoes{
	
}

.botaoOpcoes:focus{

}

/*.textoAudio:focus{
	text-decoration: underline;
}*/

/*#opcaoContinuar, #opcaoAudio, #opcaoInstrucoes, #opcaoMenu{
    background-image: none;
	width: 117px;
	height: 65px;
	margin: 0 auto;
	margin-top: 1rem;
	background-image: url("../imgs/btnContinuar.png");
}*/

#opcaoInstrucoes{
	display: none;
}

#audioVoltar{
	/*height: 65px;
	margin: 0 auto;
	margin-top: 0px;
	margin-top: 1rem;
	width: 117px;
	background-image: url("../imgs/btnVoltar2.png");*/
	width: 99vw;
    height: 20vw;
    background: #d7d7d7;
    margin: .1em auto;
    border: 2px solid;
	line-height: 20vw;
	font-size: calc(1.5em + 1vw);
}

#audioVoltar::before{
	content: 'VOLTAR';
}

/*#audioVoltar:focus{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}*/

/*#opcaoContinuar:focus, #opcaoAudio:focus, #opcaoInstrucoes:focus, #opcaoMenu:focus{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}*/

/*

@media screen and (max-width: 1100px) {
	#row{
		flex-direction: column;
	}
  }

@media screen and (max-width: 1336px){
	#ColLeftJogo{
		max-width: 275px
	}
	#ColRightJogo{
		max-width: 550px
	}
}
*/

/*Quebra para textos nos créditos*/
@media screen and (max-width: 555px){
	#linhaNomesLeft, #linhaNomesRight{
		width: 100%;
		text-align: center;
		float: unset;
	}
}
