/*Parte das camadas*/

html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
	font-size: calc(1em + 1vw);	
	font-family: "Fonte","Tahoma";
}

body
{
	background-image: url("../imgs/novafolha.png");
    background-size: cover;
}

#btn-mute
{
	position:absolute;
	left: 49px;
	top: 32px;
	width:24px;
	height:24px;
	cursor: pointer;
}

#palco
{
	min-height: 100%;
	height: 100vh;
    width: 100vw;
    display: flex;
	align-items: center;
	justify-content: center;
}

#camadaOpcoes{
	width: 100vw;
	height: 100vh;
	text-align: center;
	position: absolute;
	background: url("../imgs/novafolha.png");
	background-size: cover;
}

#divOpcoes{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

#camadaAudio{
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	align-items: center;
	justify-content: center;
	z-index: 2;
	background-size: cover;
}

#camadaControleAudio{
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	display: grid;
	align-items: center;
	justify-content: center;
	z-index: 2;
	background-size: cover;
}

#divAudio{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background: url("../imgs/novafolha.png");
	position: relative;
}

#divControle{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background: url("../imgs/novafolha.png");
	position: relative;
}

.slider {
	-webkit-appearance: none;
	width: 80%;
	/*FAZER UM TAMANHO RESPONSIVAMENTE GRANDE --------------------------------------------------------------------------------------------------------------- */
	height: 15px;
	border-radius: 5px;
	background: #ffffff;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 0 auto;
	/*border: solid;
	border-width: 2px;*/
}

.slider::-webkit-slider-thumb {
	border-width: 1px;
	border-color: #101010;
	width: 10vw;
	height: 100%;
	background: #fff;
	cursor: pointer;
}

.slider::-ms-slider-thumb {
	border-width: 1px;
	border-color: #101010;
	width: 10vw;
	height: 100%;
	background: #fff;
	cursor: pointer;
}

.slider::-o-slider-thumb {
	border-width: 1px;
	border-color: #101010;
	width: 10vw;
	height: 100%;
	background: #fff;
	cursor: pointer;
}
  
.slider::-moz-range-thumb {
	border-width: 1px;
	border-color: #101010;
	width: 10vw;
	height: 100%;
	background: #fff;
	cursor: pointer;
}

.slider:focus::-webkit-slider-thumb{
	background: #101010;
}

.slider:focus::-moz-range-thumb{
	background: #101010;
}

.slider::-moz-range-progress{
	background-color: #101010;
	height: 40px;
}

.slider::-webkit-progress-bar{
	background-color: #101010;
	height: 15px;
}

#camadaVitoria
{
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#camadaFimdeJogo
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#camadaDerrota{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

#camadaMenu
{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
  	grid-template-rows: repeat(2, 1fr);
	width: 100vw;	
	height: 100vh;
	text-align: center;
}

#camadaMenu:focus{
	outline: none;
}

#camadaAtalhos{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
	text-align: center;
	position: absolute;
}

#camadaAtalhos:focus{
	outline: none;
}

#imgMenu
{
	height: auto;
	width: 100%;
}

#imgLogo
{
	display: none;
}

#camadaInstrucoes{
	text-align: center;
	height: 100vh;
	width: 100vw;
}

#imgLogoVit
{
	background-image: url("../imgs/logovitoria.png");
	height: 139px;
	width: 180px;
	float: left;
	margin-top: 1.3rem;
}

#palavraCertaNaTela
{
	text-align: center;
}

#camadaJogo
{
	width: 100vw;
	height: 100vh;
	display: grid;
	flex-direction: column;
	justify-content: space-between;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

#topJogo{
	width: 100vw;
}

#pontosTela{
	float: right;
	margin: .5em;
	font-size: calc(16px + 1vw);	
}


#camadaCreditos
{
	text-align: center;
	display: grid;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

#linhaNomesLeft{
	width: 250px; 
	float: left;  
	text-align: right;
}

#linhaNomesRight{
	width: 250px;
	float: right; 
	text-align: left;
}

/*Parte das coisas escritas na tela*/
#palavraNaTela
{
	width: 100%;
	text-align: center;
	margin: 0;
	
}

#dicaNaTela
{
	text-align: center;
	font-size: calc(1em + 1vw);	
}

#contribuicaoNaTela
{	
	font-size: 15px;
	
}

#pontosNaTela
{
	text-align: right;
}

#instrucoesText{
	padding: 0 1em;
}
/*Parte dos botoes no jogo*/
#botoes
{
	width: 100%;
	justify-content: center;
	display: grid;

}

#btnGrupo{
	width: 100%;
	box-shadow: 0 2px 7px 0px rgba(29, 29, 29, 0.64);
}

#btnGrupo > *{
	width: 50%;
	height: 15vw;
	background: #e7e7e7;
	text-align: center;
	font-size: calc(1em + 1vw);
	font-family: "Fonte","Tahoma";
	border: 0;
}

#btnMenu{
	border-right-width: 1px;
	border-right-style: double;
}


.botaoJogo
{
	display: inline;
	width: 9.3vw;
	height: 9.3vw;
	margin: 1px;
	float: left;
	background-image: url(../imgs/botaoTeclado.png);
	background-size: cover;
	cursor: pointer;	
}

.botaoJogoPressionado
{
	display: inline;
	width: 9.3vw;
	height: 9.3vw;
	margin: 1px;
	float: left;
	background-image: url(../imgs/botaoTecladoPressionado.png);
	background-size: cover;
	cursor: pointer;	
}

/*.botaoJogo:hover
{
	transform: scale(1.1);
}*/

.linha
{
	text-align: center;
}

#linha2
{
	margin-left: 0.8rem;
	margin-top: 0.35rem;
}

#linha3
{
	margin-left: 2.2rem;
	margin-top: 0.35rem;
}

.letraTeclado
{
	margin: 0;
	line-height: 9vw;
}

/*Parte das fontes*/
@font-face
 {
    font-family: "Fonte";
    src: url(../fonte/Teclado.ttf) format("truetype");
}

h1
{
	font-family:"Fonte","Tahoma";
	font-size: 50px;
	text-align: center
}

h3
{
	font-family:"Fonte","Tahoma";
	text-align: center
}

p
{ 
    font-family:"Fonte","Tahoma";
}

/*Parte dos botoes fora do jogo*/
.botao
{
	display: inline-block;
}

#caixaBotoes
{
    display: grid;
	width: 100vw;
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(4,1fr);
}

#caixaBotoes > * {
    width: 100vw;
    background: #e7e7e7;
    margin: 0 auto;
    box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1.5em + 1vw);
	font-family: "Fonte","Tahoma";
}

#caixaBarrasAudio{
	/*margin-top: 4rem;*/
	display: grid;
	width: 100vw;
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(2,1fr);
}

#caixaBarrasAudio > *{
	/*width: 99vw;
    height: 20vw;
    background: #d7d7d7;
	margin: 0 auto;
    border: 2px solid;
	line-height: 20vw;
	font-size: 6.5vw;*/
	width: 100vw;
	height: 18vw;
    background: #e7e7e7;
    margin: 0 auto;
    box-shadow: inset 0px -1px #504e4a;
	font-size: 6.5vw;
	font-family: "Fonte","Tahoma";
	line-height: 18vw;
}

#caixaBotoesOpcao{
	grid-row: 2/3;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

#caixaBotoesOpcao > *{
	width: 100vw;
    background: #e7e7e7;
    margin: 0 auto;
    box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1.5em + 1vw);
	font-family: "Fonte","Tahoma";
}

#btnInstrucoes{
	grid-row: 1;
}

#btnJogar{
	grid-row: 2;
}

#btnCreditos{
	grid-row: 3;
}

#btnAudio{
	grid-row: 4;
}

#btnVoltar2{
	width: 100vw;
	height: 25vw;
    background: #e7e7e7;
    box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1.5em + 1vw);
	font-family: "Fonte","Tahoma";
}

#caixaBotoesAtalhos{
	display: grid;
	grid-row: 2/4;
}

#caixaBotoesAtalhos > * {
    width: 100vw;
    background: #e7e7e7;
    margin: 0 auto;
    box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1em + 1vw);
	font-family: "Fonte","Tahoma";
}

#MusicaFundo{
	grid-row: 1;
}

#Efeitos::before{
	grid-row: 2;
}

#LeituraTela::before{
	grid-row: 3;
}

#btnOpcoes
{
    width: 100%;
    height: 75px;
    background: black;
}

#btnOpcoes:hover, #btnOpcoes:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnRanking
{
	width: 117px;
	height: 65px;
	background-image: url("../imgs/btnRanking.png")
}

#btnVoltar
{
	width: 115px;
	height: 65px;
	margin-top: 1rem;
	margin-left: 1rem;
	background-image:url("../imgs/btnVoltar.png");
}

#botoesFimDeJogo
{
	display: grid;
	width: 100vw;
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(2,1fr);
}

#botoesFimDeJogo > *{
	width: 100vw;
	height: 18vw;
    background: #e7e7e7;
    margin: 0 auto;
    box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1.5em + 1vw);
	font-family: "Fonte","Tahoma";
}


#botoesTelaVitoria{
	display: grid;
	width: 100vw;
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(2,1fr);
}

#botoesTelaVitoria > *{
	width: 100vw;
	height: 18vw;
    background: #e7e7e7;
    margin: 0 auto;
    box-shadow: inset 0px -1px #504e4a;
	font-size: calc(1.5em + 1vw);
	font-family: "Fonte","Tahoma";
}

#btnReiniciar::before
{
	content: "Reiniciar"
}


/*#btnMenu:hover, #btnMenu:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}*/



#btnMenu2
{
	margin: 1rem;
	width: 116px;
	height: 65px;
	border: none;
	background-image: url("../imgs/btnVoltar2.png");
}

#btnMenu2:hover, #btnMenu2:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnMenu3::before
{
	content: "Sair"
}


#btnProxPalavra::before
{
	content: "Continuar";
}

/*Parte do personagem do jogo*/
.personagem
{
	width: 317px;
	height: 312px;
	background: url(../imgs/personagem.png);
	background-position: 0px 0px;
}

#personagem
{
	margin: 0 auto;
}

#personagemAnt
{
	z-index: 10;
	display: none;
}

/*--------parte animação boneco---------*/

#ColLeftJogo
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("../imgs/novafolha.png");
    background-size: cover;
	display: none;
}

#imgBonecoDerrota
{
	width: 55%;
	height: auto;
}

#imgBonecoVitoria
{
	width: 80%;
	height: auto;
	margin: 1em;
}

#palavraCerta
{
	position: absolute;
	top: 55%;
	left: 60%;
	width: 50px;
	height: 50px;
	background: url(../imgs/palavraCerta.png);
}

.hidden-for-sighted-users
{
    position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}



#ColRightJogo
{
	width: 100%;
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.botaoOpcoes{
	
}

.botaoOpcoes:focus{

}

/*.textoAudio:focus{
	text-decoration: underline;
}*/

/*#opcaoContinuar, #opcaoAudio, #opcaoInstrucoes, #opcaoMenu{
    background-image: none;
	width: 117px;
	height: 65px;
	margin: 0 auto;
	margin-top: 1rem;
	background-image: url("../imgs/btnContinuar.png");
}*/

#opcaoInstrucoes{
	display: none;
}

#audioVoltar::before{
	grid: 4;
}

/*#audioVoltar:focus{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}*/

/*#opcaoContinuar:focus, #opcaoAudio:focus, #opcaoInstrucoes:focus, #opcaoMenu:focus{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}*/

/*

@media screen and (max-width: 1100px) {
	#row{
		flex-direction: column;
	}
  }

@media screen and (max-width: 1336px){
	#ColLeftJogo{
		max-width: 275px
	}
	#ColRightJogo{
		max-width: 550px
	}
}
*/

/*Quebra para textos nos créditos*/
@media screen and (max-width: 555px){
	#linhaNomesLeft, #linhaNomesRight{
		width: 100%;
		text-align: center;
		float: unset;
	}
}

#boxVidas
{
	margin-top: 1.3rem;
	justify-content: center;
	flex-direction: row;
	display: flex;
}

#vidas
{
	background-image: url("../imgs/vida.png");
	width: 11.6vw;
	height: 10.64vw;
	float: left;
	background-size: cover;
	margin: 0.1rem;
}