/*Parte das camadas*/

body, html
{
	height: 100%;
	width: 100%;
	margin: 0;	
}

body
{
	background-image: url("../imgs/madeira.png");
	background-repeat:repeat;
}

#btn-mute
{
	position:absolute;
	left: 49px;
	top: 32px;
	width:24px;
	height:24px;
	cursor: pointer;
}
#palco
{
	min-height: 100%;
	min-width: 450px;
	padding: 0.5rem;
	background: white;	
	margin: 0px 70px 0 70px;
}

#camadaVitoria
{
	width: 800px;
	height: 600px;
}

#camadaMenu
{
	position:absolute;
	left:50%;		
	top:50%;
	margin-left: -400px;
	margin-top: -300px;
	width: 800px;
	height: 600px;
	background-image: url("../imgs/inicio.png");	
}

#camadaJogo
{
	padding: 0px 2rem 0 2rem;
}

#camadaCreditos
{
	position: relative;
	width: 500px;
	height: 500px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -250px;
	text-align: center;
}

/*Parte das coisas escritas na tela*/
#palavraNaTela
{
	width: 100%;
	text-align: center;
	
}

#dicaNaTela
{
	text-align: center;
	padding: 0 2rem 0 2rem;
	padding: 0.5rem;
	margin: 3rem;
	background: white;
	border-style: dashed;
}

#contribuicaoNaTela
{	
	font-size: 15px;
	
}

#pontosNaTela
{
	text-align: right;
	margin-right: 3rem;
}

/*Parte dos botoes no jogo*/
#botoes
{
	min-width: 400px;
	display: inline-block;
}

.botaoJogo
{
	display: inline;
	width: 50px;
	height: 50px;
	margin: 1.5px;
	float: left;
	background-image: url(../imgs/botaoTeclado.png);
	cursor: pointer;	
}

.botaoJogoPressionado
{
	display: inline;
	width: 50px;
	height: 50px;
	margin: 1.5px;
	float: left;
	background-image: url(../imgs/botaoTecladoPressionado.png);
	cursor: pointer;	
}

.botaoJogo:hover
{
	transform: scale(1.1);
}

.linha
{
	text-align: center;
	
}

#linha2
{
	
}

#linha3
{
	
}

.letraTeclado
{
	margin-top: 10px;
}



/*Parte das fontes*/
@font-face
 {
    font-family: "Fonte";
    src: url(../fonte/Teclado.ttf) format("truetype");
}

p
{ 
    font-family:"Fonte","Tahoma";
	font-size: 24px;
}

/*Parte dos botoes fora do jogo*/
.botao
{
	display: inline;
	position: relative;
	margin: 50px;
	float: left;
	cursor: pointer;
}

#caixaBotoes
{
	position: relative;
	width: 500px;
	height: 120px;
	left: 30%;
	top: 65%;
}

#btnJogar
{
	width: 117px;
	height: 65px;
	background-image: url("../imgs/btnJogar.png")
}

#btnCreditos
{
	width: 119px;
	height: 69px;
	background-image: url("../imgs/btnCreditos.png")
}

#btnRanking
{
	width: 117px;
	height: 65px;
	background-image: url("../imgs/btnRanking.png")
}

#btnVoltar
{
	width: 50px;
	height: 50px;
	
	background-image:url("../imgs/btnVoltar.png");
}
/*Parte do personagem do jogo*/
.personagem
{
	width: 317px;
	height: 382px;
	background: url(../imgs/personagem.png);
	background-position: 0px 0px;
}

#personagem
{
	
	z-index: 11;
	float: left;
	margin: 2rem;
}

#personagemAnt
{
	z-index: 10;
	display: none;
}

#palavraCerta
{
	position: absolute;
	top: 55%;
	left: 60%;
	width: 50px;
	height: 50px;
	background: url(../imgs/palavraCerta.png);
}

.hidden-for-sighted-users
{
    position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

#row
{	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

@media screen and (max-width: 1100px) {
	#row{
		flex-direction: column;
	}
  }