/*Parte das camadas*/

html, body
{
	height: 99%;
	width: 100%;
	margin: 0;	
}

body
{
	background-image: url("../imgs/madeira.png");
	background-repeat:repeat;
}

#btn-mute
{
	position:absolute;
	left: 49px;
	top: 32px;
	width:24px;
	height:24px;
	cursor: pointer;
}

#palco
{
	min-height: 100%;
	min-width: 790px;
	background-image: url("../imgs/novafolha.png");
	background-size: cover;
	margin: 10px 70px 0px 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#camadaOpcoes{
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
}

#divOpcoes{
	width: 430px;
	height: 530px;
	background: #c2ecfc;
	background: -moz-linear-gradient(to bottom, #c2ecfc 0%,#79adc1 100%);
	background: -webkit-linear-gradient(to bottom, #c2ecfc 0%,#79adc1 100%);
	background: linear-gradient(to bottom, #c2ecfc 0%,#79adc1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2ecfc', endColorstr='#6fc3ed',GradientType=0 );
	position: relative;
	-webkit-border-bottom-left-radius: 3rem 15rem;
	-webkit-border-bottom-right-radius: 7rem 3rem;
}

#divOpcoes::before, #divOpcoes::after{
	content: '';
    z-index: -1;
    position: absolute;
    bottom: 23px;
    left: 26px;
    width: 30%;
    top: 85%;
    max-width: 300px;
    background: #777;
    box-shadow: 0px 27px 30px #777;
    transform: rotate(-9deg);
}

#divOpcoes::after{
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	-o-transform: rotate(8deg);
	-ms-transform: rotate(8deg);
	transform: rotate(-5deg);
	right: 10px;
	left: auto;
}

#camadaAudio{
	width: 100%;
	text-align: center;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

#divAudio{
	width: 430px;
	height: 565px;
	background: #c2ecfc;
	background: -moz-linear-gradient(top, #c2ecfc 0%, #92dcf9 100%);
	background: -webkit-linear-gradient(top, #c2ecfc 0%,#92dcf9 100%);
	background: linear-gradient(to bottom, #c2ecfc 0%,#92dcf9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2ecfc', endColorstr='#6fc3ed',GradientType=0 );
	position: relative;
	-webkit-border-bottom-left-radius: 3rem 15rem;
	-webkit-border-bottom-right-radius: 7rem 3rem;
}

#divAudio::before, #divAudio::after{
	content: '';
    z-index: -1;
    position: absolute;
    bottom: 23px;
    left: 26px;
    width: 30%;
    top: 85%;
    max-width: 300px;
    background: #777;
    box-shadow: 0px 27px 30px #777;
    transform: rotate(-9deg);
}

#divAudio::after{
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	-o-transform: rotate(8deg);
	-ms-transform: rotate(8deg);
	transform: rotate(-5deg);
	right: 10px;
	left: auto;
}

.slider {
	-webkit-appearance: none;
	width: 80%;
	height: 25px;
	border-radius: 5px;
	background: #ffffff;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 0 auto;
	border: solid;
	border-width: 2px;
}

.slider::-webkit-slider-thumb {
	border-width: 5px;
	border-color: #101010;
	width: 10px;
	height: 25px;
	background: #fff;
	cursor: pointer;
}
  
.slider::-moz-range-thumb {
	border-width: 5px;
	border-color: #101010;
	width: 10px;
	height: 40px;
	background: #fff;
	cursor: pointer;
}

.slider:focus::-webkit-slider-thumb{
	background: #101010;
}

.slider:focus::-moz-range-thumb{
	background: #101010;
}

.slider::-moz-range-progress{
	background-color: #000;
	height: 25px;
}

.slider::-webkit-progress-bar{
	background-color: #101010;
	height: 15px;
}

#camadaVitoria
{
	text-align: center;
	width: 100%;
}

#camadaFimdeJogo
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#camadaDerrota{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#camadaMenu
{
	width: 100%;	
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

#camadaMenu:focus{
	outline: none;
}

#imgMenu
{
	height: auto;
	width: 55%;
	margin-right: 10%;
	float: left;
}

#imgLogo
{
	background-image: url("../imgs/logoforca.png");
	height: 139px;
	width: 180px;
	float: left;
	margin-left: 5.75rem;
	margin-top: 3rem;
}

#imgLogoInstrucoes
{
	background-image: url("../imgs/logoforca.png");
	height: 139px;
	width: 180px;
	float: left;
	margin-left: 6rem;
	margin-top: 1.3rem;
}

#imgLogoVit
{
	background-image: url("../imgs/logovitoria.png");
	height: 139px;
	width: 180px;
	float: left;
	margin-top: 1.3rem;
}

#palavraCertaNaTela
{
	text-align: center;
}

#camadaJogo
{
	padding: 0px 2rem 0 2rem;
}

#camadaCreditos
{
	padding: 2rem 4rem;
	max-width: 600px;
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#camadaInstrucoes{
	padding: 2rem 5rem;
}

/*Parte das coisas escritas na tela*/
#palavraNaTela
{
	width: 100%;
	text-align: center;
	margin: 0;
	
}

#dicaNaTela
{
	text-align: center;
	padding: 0 2rem 0 2rem;
}

.customfont{
	font-size: 34px;
}

#contribuicaoNaTela
{	
	font-size: 15px;
	
}

#pontosNaTela
{
	text-align: right;
}

#opcoesTxt{
	font-size: 40px;
	margin: 2.5rem 0;
}

/*Parte dos botoes no jogo*/
#botoes
{
	min-width: 400px;
	display: inline-block;
}

.botaoJogo
{
	display: inline;
	width: 55px;
	height: 58px;
	margin: 1.5px;
	float: left;
	background-image: url(../novasImgs/btnJogo.png);
	cursor: pointer;
	background-size: cover;	
}

.botaoJogoPressionado
{
	display: inline;
	width: 55px;
	height: 58px;
	margin: 1.5px;
	float: left;
	background-image: url(../novasImgs/btnJogoPressionado.png);
	cursor: pointer;
	background-size: cover;	
}

.botaoJogo:hover
{
	transform: scale(1.1);
}

.linha
{
	text-align: center;
	
}

#linha2
{
	margin-left: 1rem;
}

#linha3
{
	margin-left: 2rem;
}

.letraTeclado
{
	margin-top: 13px;
	margin-right: 3px;
}



/*Parte das fontes*/
@font-face
 {
    font-family: "Fonte";
    src: url(../fonte/Teclado.ttf) format("truetype");
}

h1
{
	font-family:"Fonte","Tahoma";
	font-size: 50px;
	text-align: center
}

h2
{
	font-family:"Fonte","Tahoma";
	font-size: 30px;
	text-align: center
}


h3, h4
{
	font-family:"Fonte","Tahoma";
	text-align: center
}

p
{ 
    font-family:"Fonte","Tahoma";
	font-size: 30px;
}

/*Parte dos botoes fora do jogo*/

#caixaBotoes
{
	text-align: center;
}

#btnJogar
{
	width: 245px;
	height: 95px;
	margin: 2rem;
	background-size: cover;
	background-image: url("../novasImgs/botaoJogo.png");
}

#btnJogar:hover, #btnJogar:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnInstrucoes
{
	width: 245px;
	height: 95px;
	margin: 2rem;
	background-size: cover;
	background-image: url("../novasImgs/btnInstrucoes.png");
}

#btnInstrucoes:hover, #btnInstrucoes:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}


#btnCreditos
{
	width: 245px;
	height: 95px;
	margin: 2rem;
	background-size: cover;
	background-image: url("../novasImgs/btnCreditos.png");
}

#btnCreditos:hover, #btnCreditos:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnOpcoes
{
	width: 137px;
	height: 65px;
	background-image: url("../imgs/opmenuinicial.png");
	margin: 1.5rem;
}

#btnOpcoes:hover, #btnOpcoes:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnAudio
{
	width: 245px;
	height: 95px;
	margin: 2rem;
	background-size: cover;
	background-image: url("../novasImgs/btnAudio.png");
}

#btnAudio:hover, #btnAudio:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnRanking
{
	width: 117px;
	height: 65px;
	background-image: url("../imgs/btnRanking.png")
}

#btnVoltar
{
	width: 115px;
	height: 65px;
	margin-top: 1rem;
	margin-left: 1rem;
	background-image:url("../imgs/btnVoltar.png");
}

#botoesFimDeJogo
{
	display: grid;
}

#btnReiniciar
{
	margin: .5rem auto 0 auto;
    width: 225px;
    height: 80px;
    border: none;
    background-image: url(../novasImgs/btnRecomeçarDerrota.png);
    background-size: cover;
}

#btnMenu
{
	margin: 2rem auto;
	width: 145px;
	height: 80px;
	border: none;
	background-image: url("../novasImgs/btnOpcoes.png");
	background-size: cover;
}

#btnMenu:hover, #btnMenu:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnMenu2
{
	margin: 0 auto;
	width: 175px;
	height: 70px;
	border: none;
	background-image: url("../novasImgs/btnVoltar.png");
}

#btnMenu2:hover, #btnMenu2:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnMenu3
{
	margin: .5rem auto 0 auto;
    width: 225px;
    height: 80px;
    border: none;
    background-image: url(../novasImgs/btnDesistirVitoria.png);
    background-size: cover;
}

#btnMenu3:hover, #btnMenu3:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}


#btnProxPalavra
{
	margin: 0 auto;
    width: 225px;
    height: 80px;
    border: none;
    background-image: url(../novasImgs/btnContinuarVitoria.png);
    background-size: cover;
}

#btnReiniciar:hover, #btnReiniciar:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

#btnProxPalavra:hover, #btnProxPalavra:focus
{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

/*Parte do personagem do jogo*/
.personagem
{
	width: 317px;
	height: 312px;
	background: url(../imgs/personagem.png);
	background-position: 0px 0px;
}

#personagem
{
	float: left;
	margin-left: -5rem;
}

#personagemAnt
{
	z-index: 10;
	display: none;
}

#imgBonecoDerrota
{
	width: 20%;
	height: auto;
}

#imgBonecoVitoria
{
	width: 40%;
	height: auto;
	margin: 1rem;
}

#palavraCerta
{
	position: absolute;
	top: 55%;
	left: 60%;
	width: 50px;
	height: 50px;
	background: url(../imgs/palavraCerta.png);
}

.hidden-for-sighted-users
{
    position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

#row
{	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

#ColLeftJogo
{
	position: relative;
	max-width: 300px;
	float: left;
	display: block;
}

#ColRightJogo
{
	position: relative;
	max-width: 800px;
	float: right;
	display: block;
}

.clearfix::before, .clearfix::after{
	display: table;
	content: '';
	clear: both;
}

.botaoOpcoes{
	margin: 0 auto;	
}

.botaoOpcoes:focus{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

.textoAudio:focus{
	text-decoration: underline;
}

/*#opcaoContinuar, #opcaoAudio, #opcaoInstrucoes, #opcaoMenu{
    background-image: none;
	width: 117px;
	height: 65px;
	margin: 0 auto;
	margin-top: 1rem;
	background-image: url("../imgs/btnContinuar.png");
}*/

#opcaoContinuar{
	width: 175px;
	height: 90px;
	background-image: url("../novasImgs/btnContinuarOpcoes.png");
	background-size: cover;
}

#opcaoAudio{
	width: 175px;
	height: 90px;
	background-image: url("../novasImgs/btnAudioOpcoes.png");
	background-size: cover;
}

#opcaoInstrucoes{
	width: 175px;
	height: 90px;
	background-image: url("../novasImgs/btnInstrucoesOpcoes.png");
	background-size: cover;
}	

#opcaoMenu{
	width: 175px;
	height: 90px;
	background-image: url("../novasImgs/btnDesistirOpcoes.png");
	background-size: cover;
}

#audioVoltar{
	height: 65px;
	margin: 0 auto;
	margin-top: 0px;
	margin-top: 1rem;
	width: 117px;
	background-image: url("../imgs/btnVoltar2.png");
}

#audioVoltar:focus{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}

/*#opcaoContinuar:focus, #opcaoAudio:focus, #opcaoInstrucoes:focus, #opcaoMenu:focus{
	transform: scale(1.1);
	cursor: pointer;
	outline: none;
}*/


@media screen and (max-width: 1100px) {
	#row{
		flex-direction: column;
	}
  }

@media screen and (max-width: 1336px){
	#ColLeftJogo{
		max-width: 275px
	}
	#ColRightJogo{
		max-width: 550px
	}
}

@media screen and (max-width: 1045px){
	#ColLeftJogo{
		max-width: 300px;
		float: none;
		margin: 0 auto;
		display: block;
	}
	#ColRightJogo{
		max-width: 550px;
		float: none;
		margin: 0 auto;
		display: block;
	}

	#dicaNaTela{
		width: 100%;
		text-align: center;
	}

	#imgBonecoDerrota{
		width: 55%;
	}

	#imgBonecoVitoria{
		width: 80%;
	}
}
